.imgContainer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
.imgContainer > img,
.imgContainer > div > img{
    border-radius: 10%;
    outline: 5px solid rgb(44 124 106);
    outline-offset: -10px;
}
.imgContainer > img:nth-child(1){
    width: 25%;
    filter: grayscale(100%) blur(3px);
    cursor: pointer;
    transform: skew(0deg, 0deg);
    transition: transform .3s ease-in-out;
}
.imgContainer > div > img{
    box-shadow: 0px 5px 20px 0px #000;
    width: 100%;
}
.imgContainer > div > button{
    transform: translate(20px, -55px);
    background-color: rgba(0, 0, 0, .8);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.imgContainer > img:nth-child(2):active{
    transform: translate(-20px, -20px);
}
.imgContainer > img:nth-child(3){
    width: 25%;
    filter: grayscale(100%) blur(3px);
    cursor: pointer;
    transform: skew(0deg, 0deg);
    transition: transform .3s ease-in-out;
}
.errorContainer{
    width: 90%;
    height: 50%;
    background-color: rgba(197, 23, 23, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 0);

}
.errorContainer p{
    font-size: 2rem;
    font-family: 'Barriecito', cursive;
    font-weight: bold;
}